a {
  color: #FFFFFF;
}

a:hover {
  color: #00FF00;
}

.text-green {
  color: #045b06;
}

.bg-green {
  background-color: #045b06;
}

.bg-secondary {
  background-color: #dfeadd !important;
}

#logo {
  min-width: 40%;
  max-width: 15vw;
  height: auto;
}

noscript {
  direction: rtl;
  unicode-bidi: bidi-override;
}
#panorama {
  background-image: url(../img/panorama.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
